# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual Environment
venv/
ENV/
env/

# VSCode settings
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm
.idea/

# MyPy cache
.mypy_cache/

# Pydantic cache
*.msgpack

# Uvicorn reload file
.reload

venv/
.venv/