<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>ポートフォリオ作成フォーム</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>ポートフォリオ作成</h1>
    <form action="/generate" method="post">
      <label>名前: <input type="text" name="name" required /></label><br />
      <label>自己紹介: <textarea name="bio" required></textarea></label><br />
      <label
        >スキル（カンマ区切り）:
        <input type="text" name="skills" required /></label
      ><br />

      <label for="template-select">Choose a template:</label>
      <select name="template" id="template-select">
        <option value="">--Please choose an option--</option>
        <option value="simple">シンプル</option>
        <option value="yuttari">ゆったり</option>
      </select>
      <br />
      <label for="color-select">Choose a color:</label>
      <select name="color" id="color-select">
        <option value="">--Please choose an option--</option>
        <option value="blue">青</option>
        <option value="green">緑</option>
        <option value="red">赤</option>
        <option value="yellow">黄色</option>
        <option value="purple">紫</option>
        <option value="pink">ピンク</option>
        <option value="orange">オレンジ</option>
        <option value="gray">グレー</option>
      </select>
      <br />
      <button type="submit">生成</button>
    </form>
  </body>
</html>
